/*VARIABLES GENERALES */
/*Colores */
$rosado: #FF5A5F;
$gris-lineas: #DCE0E0;
$gris-fondos: #EDEFED;
$amarillo: #FFB400;
<<<<<<< HEAD
$black: #000;

=======
$verde: #00A699;
>>>>>>> 286ee0a270162b8d57ffee8a592cde8dc2fbc953
/* Comienzo Majo */
/* Fin Majo  */
/*Comienzo Nadia */
/* Fin Nadia  */
/* Comienzo Dani */
/* Fin Dani */
/* Comienzo Footer  Vale */
/* Fin footer Vale */
/* Comienzo  Pachi */
/* Fin Pachi */

